.footer{
    width: 100vw;
    background-color: #192d11;
    margin-top: 200px;
    height: 200px;
    
}
#footerlogo{
    opacity: 0.8;
    float: left;
}
#footerlogotext{
    font-size: 30px;
    color: white;
}
#footerlogotexts{
    font-size: 20px;
    color: white;
}